*{
    box-sizing: border-box; 
}
body {
    position: relative; 
    display: grid;
    background-color: black;
    height: 100%;
    width: 100%;

}

.heading {
    color: white;
    text-align: center;
}

.ball {
    margin-top: 150px;
    align-self: center;
    justify-self: center;
    display: grid;
    height: 100px;
    width: 100px;
    color: white;
    background-color: blue;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
    transition: all 1s;
    overflow: hidden;
}

.ball1 p{
    justify-self: center;
    align-self: center;
}

.ball2 p{
    justify-self: center;
    align-self: center;
}