*{
    box-sizing: border-box; 
}
body {
    position: relative; 
    display: grid;
    background-color: black;
    top: 0;
    height: 100%;
    width: 100%;
    
}

.heading {
    color: white;
    text-align: center;
}

.ball {
    align-self: center;
    justify-self: center;
    display: grid;
    height: 100px;
    width: 100px;
    max-width: 300px;
    max-height: 300px;
    color: white;
    background-color: blue;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
}

.ball p{
    justify-self: center;
    align-self: center;
}
