*{
    box-sizing: border-box; 
}
body {
    background-color: black;
    top: 0;
}

.heading {
    color: white;
    text-align: center;
}

.ball {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    margin-left: 900px;
    margin-top: 350px;
    text-align: center;
}